[Desktop Entry]
Name=pearOS Launchpad
Comment=Nice launchpad for pear

Type=Service
Icon=/usr/share/icons/launchpad.svg
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu

X-KDE-PluginInfo-Author=adhe
X-KDE-PluginInfo-Email=alxb421@gmail.com
X-KDE-PluginInfo-Name=pearOSLaunchpad
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-EnabledByDefault=true
